/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
/env
/venv
/venv-cocotb
/caravel
/dependencies
/mgmt_core_wrapper
/logs
openlane2-venv
design_info.yaml
target/
project/
.vscode/
.bloop/
.bsp/
.metals/
verilog/rtl/CaravelUserProject.v
*.fir
*.anno.json
gds/
def/
lef/
lib/
mag/
signoff/
spef/
verilog/gl/
.scalafmt.conf
test_run_dir/

a.o
a.out
